.order-card {
  background-color: #f9fafb;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  .order-title {
    font-size: 2rem;
  }
  .order-text-bold {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .order-total {
    font-size: 1.5rem;
  }
}
