.slider {
    height: calc(100vh - 80px);
    .slider-img {
        filter: brightness(50%);
    }
    .slider-title {
        margin: 2rem auto;
        font-family: "Kanit", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
}